<%
   issues_by_developer_measure = measure('redmine-issues-by-developer')
   if issues_by_developer_measure
%>
  <div class="yui-g">
    <div class="yui-u first">
      <div class="dashbox">
        <p class="title"><%= message('widget.redmine.name') -%></p>
        <table>
          <% issues_by_developer_measure.data.split(";").each do |developer_with_size|
            developer_with_size_array = developer_with_size.split("=") %>
            <tr>
              <td align="left">
                <%= developer_with_size_array[0] -%>
              </td>
              <td align="right" style="padding-left: 10px;">
                <%= developer_with_size_array[1] -%>
              </td>
              <td align="left" style="padding-left: 10px;">
                <span style='width:100%'><ul class='hbar' style='float: right;'><li style='background-color: rgb(119, 119, 119); width: <%= (developer_with_size_array[1].to_f * 100 / issues_by_developer_measure.value.to_f ).ceil -%>%'>&nbsp;</li></ul></span>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="yui-u">
      <div class="dashbox">
  		<%= piechart(issues_by_developer_measure) -%>
      </div>
    </div>
  </div>
<% end %>
