<%
   issues_measure = measure('redmine-issues')
   issues_by_priority_measure = measure('redmine-issues-by-priority')

   if issues_measure
%>
<table width="100%">
  <tbody>
    <tr>
      <td align="left">
        <div class="dashbox" >
          <p class="title"><%= message('widget.redmine.name') -%></p>
          <p><span class="big"><%= format_measure(issues_measure,{:url => issues_measure.url}) -%></span></p>
        </div>
      </td>
      <td valign="top" align="left">
        <div class="dashbox">
          <p class="title"><%= message('widget.redmine.by_priority') -%></p>
            <table>
            <% 
              priorities = issues_by_priority_measure.text_value.split(";")
              priorities.each do |priority_with_issues|
              priority_with_issues_array = priority_with_issues.split("=")
            %>
            <tr>
              <td align="left">
                <%= priority_with_issues_array[0] -%>
              </td>
              <td align="right" style="padding-left: 10px;">
                <%= priority_with_issues_array[1] -%>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
